<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">作者心语</div>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li>
                            <h3>贤心</h3>
                            <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                            <span>5月30日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="7"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>诸葛亮</h3>
                            <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                            <span>5月02日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="5"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">作者心语</div>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li>
                            <h3>贤心</h3>
                            <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                            <span>5月30日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="7"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>诸葛亮</h3>
                            <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                            <span>5月02日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="5"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">作者心语</div>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li>
                            <h3>贤心</h3>
                            <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                            <span>5月30日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="7"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>诸葛亮</h3>
                            <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                            <span>5月02日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="5"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="layuiadmin/layui/layui.js"></script>
</body>
</html>